#!/bin/bash

  # Get the terraform version from the main.tf file
  export TFENV_TERRAFORM_VERSION=$(awk -F' ' '/required_version/ {print $NF}' main.tf | tr -d '"')

  # switch terraform version if tfenv is installed
  if [ -x "$(command -v tfenv)" ]; then
    tfenv use $TFENV_TERRAFORM_VERSION
  fi